h1{
    margin-left: 450px;
    font-size: 3.5em;
    margin-top: 40px;
    font-family: sans-serif; /* Fonte padrão, ajuste se souber a da imagem */

}

.menu {
    font-size: 2.3em; /* Tamanho da fonte do menu */
    font-weight: bold;
    color: #ffffff;
    line-height: 3.0em;
}

.menu-fundo{
    background-color: #011b41;
    color: #fff;
    position: fixed;      /* Fixa o fundo no topo da tela */
    top: 0;
    left: 0;
    height: 100vh;        /* Ocupa toda a altura da tela */
    padding: 30px 30px 10px 30px;
    box-sizing: border-box;
    margin: 0;
    display: inline-block; /* Só ocupa o espaço do menu */
}

.logo-vinculou img {
    height: 130px; /* Altura dos logos, ajuste conforme necessário */
    display: block;
    margin-right: 1px;
    margin-left: 1350px;
    margin-top: -120px;
    background-color: #fff;   /* Fundo branco */
    padding:20px;             /* Espaço interno ao redor da imagem */
    border-radius: 15px;       /* Opcional: cantos arredondados */
}


.esconder{
    color: #02204e;
}

.input-field {
    display: flex;
    flex-direction: column;    
    margin-top: 100px;      
    gap:5px;
    color:#fff;


}

.gray-box {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 1100px;
    height: 50px;
    background-color: #02204e;
    border: 1px solid #cccccc;
    margin-left: 400px;
    margin-top: -65px;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;           
    align-items: center;     
    font-size: 1.8em;        
}

.avaliar{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 50px;
    background-color: #ef8d15;
    border: 1px solid #cccccc;
    margin-left: 1300px;
    margin-top: 60px;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 25px;
    display: flex;           
    align-items: center; 
    justify-content: center;
    text-align: center;    
    font-size: 1.5em; 
    position: relative; 
    z-index: 10;
}

.resultado-prof{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 1100px;
    height: 1500px;
    background-color: #828282;
    border: 1px solid #cccccc;
    color: #02204e;
    margin-left: 400px;
    margin-top: -65px;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 1.5em;  
    flex-direction: column; 
    align-items: flex-start;
    position: relative; 
    z-index: 1;     
}